body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: scroll;
    background-color: rgba(113, 113, 196, 0.336);
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#margin{
    padding-left:4em;
    padding-right: 4em;
}
header{
    height: 5vh;
    width:100%;
    display: flex;
    justify-content: center;
}
header a{
    color: black;
    text-decoration: none;
    margin-right: 2.5em;
}
header a:hover{
    background-color: rgb(250, 190, 190);
    height: fit-content;
    font-size: 1.2em;
}
#interior {
    margin-bottom: 5em;
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
}

#interior-text,#interior-minitext {
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    z-index: 1;
    text-align: center; 
}
#interior-text{
    margin-bottom: 10%;
    font-size: 3em;
}
#interior-minitext{
    font-size: 2em;
}
#interior img{
    height: 100%;
    width:100%;
}

#about-us{
    display: flex;
    flex-direction: column; 
    height: fit-content;
    width:100%;
    color:black;
}
.bold{
    font-size: 2em;
    margin-bottom: 3em;
    font-weight: bold;
    text-align: center;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#about-us-text {
    width: 50%;
    box-sizing: border-box;
}
#about-us>.flex-container>img
{
    width:30em;
}
.p{
    margin-top: .5em;
    margin-right: 0.5em;
    font-size: 1em;
}
dd{
    font-weight: 500;
}
dt{
    margin-top:1em;
    font-weight: bold;
    font-size: 1.1em;
}
#our-works,#about-us,#our-teams,#testimonials,#contacts{
    margin-top: 10em;
}
#our-works>.flex-container{
    justify-content: center;
}
#our-works>.flex-container>img{
    margin-top: 2em;
    width:20em;
    margin-left: 3em;
    height: 40vh;
}
#more-on{
    color:white;
    width:fit-content;
    background-color: blue;
    text-align: center;
    width: fit-content;
    margin:0 auto;
    margin-top: 2em;
    margin-bottom: 4em;
}
.names{
    font-size: 1.2em;
    font-weight: bold;
}
.image-container{
    float:left;
    width: 15%;
}
#our-teams>.flex-container{
    justify-content: space-between ;
    margin:0 6em;
}
.testimonial-box {
    display: flex;
    float:left;
    width:40%;
    background-color: white;
    margin-left: 2em;
}

.testimonial-box-text {
    flex-grow: 1; 
    align-self: flex-start;
    padding-left: 2em; 
    padding-right: 2em; 
    background-color: white;
}

.testimonial-box-image {
    background-color: white;
}
#testimon-container{
    display: flex;
    justify-content: center;
    margin-left: 2em;
    margin-right: 2em;
}
.signature{
    font-weight: bold;
    font-style: italic;
    margin-top: 2em;
}
#form{
    float:left;
    display: flex;
    flex-direction: column;
    width:30em;
}
.form-boxes{
    width: 100%;
    margin-bottom: 1.5em;
    background-color:white;
    height: 2em;
}
.form-with-text{
    width:100%;
    margin-top:0.3em;
}
.clear{
    clear: both;
}
#message{
    float:left;
    margin-left: 10em;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
#message>.form-with-text>.form-boxes{
    height: 20vh;
    width:30em;
    margin-bottom: 0;
}
#submit{
    padding-top: 1em;
    color:white;
    background-color: blue;
    text-align: center;
    height: 2em;
}
#form-and-message{
    display: flex;
    justify-content: center;
    margin-left: 2em;
    margin-right: 2em;
}
footer{
    background-color: blue;
    height: 7em;
    margin-top: 5em;
    display: flex;
    color:white;
    justify-content: space-around;
    align-items: center;
}
footer a{
    color:white;
}
.footer-container{
    color:white;
    text-align: center;
    width: 30%;
}
.footer-container nav{
    font-size: .9em;
}